.offcanvasitem:hover{
    background-color: #eee;
    color: #000000;
    cursor: pointer;
}
.offcanvasitem{
    padding: 0.5rem;
}


.topbarIconBadge {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}